/*General styles */
* {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}

h2 {
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

h3 {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

/*Header*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-header {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.header-contacts {
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: #404bbf;
}

/*Main content*/
.hero-section {
  background: #2e2f42;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  border-style: none;
  line-height: 1.5;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}

.team-section {
  background: #f4f4fd;
}

.team-list-item {
  background: #fff;
}

/*Footer*/
.footer-content {
  background: #2e2f42;
}

.logo-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
